<li x-data="{ edit: false }" x-init="itemValue = ''" >
    <form hx-patch="/todos/{{id}}" hx-target="closest li" hx-swap="outerHTML" class="border-b border-gray-200 flex items-center justify-between py-4">
        <label class="flex items-center">
            <span x-show="!edit">
                <input type="checkbox" name="done" hx-patch="/todos/{{id}}" hx-trigger="change" {{#if done}}checked{{/if}} class="mr-2">
                <span>{{task}}</span>
            </span>
            <span x-show="edit">
                <input type="text" value="{{task}}" name="task">
            </span>
        </label>

        <div>
            <span x-show="!edit">
                <button type="button" hx-delete="/todos/{{id}}" hx-confirm="Are you sure you want to delete?" hx-target="closest li" hx-swap="outerHTML" class="text-red-500 hover:text-red-700
                    mr-2 delete-btn">Delete</button>
                <button @click="edit=true" type="button" class="text-blue-500
                        hover:text-blue-700 edit-btn">Edit</button>
            </span>
            <span x-show="edit">
                <button @click="edit=false" type="button" class="mr-2">Cancel</button>
                <button type="submit" class="text-green-500">Update</button>
            </span>
        </div>
    </form>
</li>
